docs
/src/*.o
/src/*.o-*
/src/*.d
/src/*.so
*.dll
.RData
.Rproj.user
.Rhistory
inst/doc
.httr-oauth
*.RDS
*.rds
*.mbtiles
/data-raw/shp
*.geojson
.httr-oauth
/app/index.html
/app/server/report.html
/data-raw/data_tables/old