/* Replace Search logo with a scalable vector graphic */

.leaflet-control-search .search-button {
  background: url(/search.svg) no-repeat 2px 2px #fff !important;
}

#bec_map, #wna_map {
  height: calc(100vh - 70px) !important;  
}

#bgc_fut_plot {
  height: calc(100vh - 140px) !important; 
}

.table tbody {
  white-space: nowrap;
}

.table td {
  vertical-align: middle !important;
}

.rightborder{
   border-right: 2px solid;
}

table.table-centered {
  margin-left:auto !important;
  margin-right:auto !important;
  width:auto !important;
}

/* Reduce selectize font size */
.selectize-dropdown, .selectize-input {
  font-size: 0.95em !important;
}

.navbar:not(.fixed-bottom):not(.navbar-fixed-bottom):not(.navbar-fixed-bottom) {
    margin-bottom: 0.25rem !important;
}

.row {
  --bs-gutter-x: 0.25rem !important;
}

:root {
  --bs-gutter-x: 0.25rem !important;
}

/* To display over leaflet */
.dropdown-menu.show {
  z-index: 1001;
}

.navbar {
  background-color: #003366 !important;
}

#cciss_navbar .nav-item {
  display: inline-flex !important;
}

#cciss_navbar .nav-link {
  padding-right: 0 !important;
}