/* Prevent map from collapsing on mobile */

#bec_map {
  min-height: 400px;
}

/* Replace Search logo with a scalable vector graphic */

.leaflet-control-search .search-button {
  background: url(search.svg) no-repeat 2px 2px #fff !important;
}

/* Fix navbar flex with bslib generated theme */

ul.nav.navbar-nav {
  flex: auto !important;
  -webkit-flex: auto !important;
}

.table tbody {
  white-space: nowrap;
}

.table td {
  vertical-align: middle !important;
}

table.table-centered {
  margin-left:auto !important;
  margin-right:auto !important;
  width:auto !important;
}

/* Reduce selectize font size */
.selectize-dropdown, .selectize-input {
  font-size: 0.65em !important;
}
